server {
  listen 80 default_server;
  listen [::]:80 default_server;

  server_name tabulous.fr www.tabulous.fr tabulous.games www.tabulous.games;
  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;
  ssl_certificate /etc/letsencrypt/live/tabulous.fr/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/tabulous.fr/privkey.pem;

  server_name tabulous.fr www.tabulous.fr tabulous.games www.tabulous.games;

  location /graphql {
    if ($request_method = 'OPTIONS') {
      add_header 'Access-Control-Allow-Origin' 'https://localhost:3000';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
      add_header 'Access-Control-Allow-Headers' 'Content-Type, *';
      add_header 'Access-Control-Max-Age' 1728000;
      add_header 'Content-Type' 'text/plain; charset=utf-8';
      add_header 'Content-Length' 0;
      return 204;
    } 
    
    add_header 'Access-Control-Allow-Origin' 'https://localhost:3000';
    add_header 'Access-Control-Allow-Credentials' 'true';
    add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
    add_header 'Access-Control-Allow-Headers' 'Content-Type, *';
    add_header 'Access-Control-Expose-Headers' '*' always;

    proxy_pass http://localhost:3001;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
    proxy_set_header Host $host;
  }

  location /auth/ {
    if ($request_method = 'OPTIONS') {
      add_header 'Access-Control-Allow-Origin' 'https://localhost:3000';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
      add_header 'Access-Control-Allow-Headers' 'Content-Type, *';
      add_header 'Access-Control-Max-Age' 1728000;
      add_header 'Content-Type' 'text/plain; charset=utf-8';
      add_header 'Content-Length' 0;
      return 204;
    } 
    
    add_header 'Access-Control-Allow-Origin' 'https://localhost:3000';
    add_header 'Access-Control-Allow-Credentials' 'true';
    add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
    add_header 'Access-Control-Allow-Headers' 'Content-Type, *';
    add_header 'Access-Control-Expose-Headers' '*' always;

    proxy_pass http://localhost:3001/;
    proxy_http_version 1.1;
    proxy_set_header Host $host;
  }

  location /games {
    if ($request_method = 'OPTIONS') {
      add_header 'Access-Control-Allow-Origin' 'https://localhost:3000';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
      add_header 'Access-Control-Allow-Headers' 'Content-Type, *';
      add_header 'Access-Control-Max-Age' 1728000;
      add_header 'Content-Type' 'text/plain; charset=utf-8';
      add_header 'Content-Length' 0;
      return 204;
    } 
    
    add_header 'Access-Control-Allow-Origin' 'https://localhost:3000';
    add_header 'Access-Control-Allow-Credentials' 'true';
    add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
    add_header 'Access-Control-Allow-Headers' 'Content-Type, *';
    add_header 'Access-Control-Expose-Headers' '*' always;

    alias /home/tabulous/games/assets;
  }

  location / {
    root /home/tabulous/web;
    try_files $uri @index;
  }

  location @index {
    root /home/tabulous/web;
    add_header Cache-Control no-cache;
    expires 0;
    try_files /index.html =404;
  }
}